body{
	position: relative; /* required */
    padding-top: 20px;	/* prevent content to go underneath the fixed navbar */
     font-family: 'Courier New', Courier, monospace;
}

.bs-example{
    margin: 0;
}
.logo{
    font-family: 'Courier New', Courier, monospace;
}
.fa-linux{
    font-size: 1.5em;
}
.box{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #dbdfe5;
}

.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}

@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: center;
}

    .ribbon span {
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #F62459;
        background: linear-gradient(#ff89b1 0%, #ff006e 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px;
        right: -21px;

    }

        .ribbon span::before {
            content: '';
            position: absolute;
            left: 0%;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #F62459;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #F62459;
        }

        .ribbon span::after {
            content: '';
            position: absolute;
            right: 0%;
            top: 100%;
            z-index: -1;
            border-right: 3px solid #F62459;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #F62459;
        }

